@{
    ViewBag.Title = "Home";
}
<h1>Home</h1>

<button class="button button-blue-black" type="button" id="load-persons-button">Load Persons</button>
<div id="list">

</div>
<script src="~/Persons.js"></script>